*{padding: 0;margin: 0;}
.container{
	
	max-width: 750px;
	min-width: 32px;
	margin: 0 auto;
	padding: 60px 0 60px 0;
}
body{background-color: #DDDDDD;}
header{
	position: fixed;
	width: 100%;
	height: 50px;
	background: #39435B;
	line-height: 50px;
	max-width: 750px;
	color: #E1E5EE;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	box-shadow: 0 1px 1px rgba(83,83,83,0.5);
}
header em{
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	width: 48px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.icon-back a{
	display: block;
	width: 13px;
	height: 25px;
	text-decoration: none;
	color: white;
	font-size: 24px;
	}
footer{
	line-height: 55px;
	height: 55px;
	padding: 0 10px;
	background: #fff;
	width: 100%;
	max-width: 750px;
	position: fixed;
	bottom: -1px;
	left: 0;
	right: 0;
	margin: auto;
	border-top: 1px solid #ddd;
}
footer input{
	width: 20px;
	height: 20px;
	-webkit-appearance:checkbox;
	border-radius: 2px;
	vertical-align: middle;
	margin-right: 4px;
	border:1px solid #afbbd9;
}
footer em{
	margin-left: 10px;
	color: #C30000;
	font-size: 16px;
}
footer a{
	display: inline-block;
	padding:0 25px;
	background: #ff9800;
	float: right;
	margin-right: -10px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
footer a:hover{color: #FFFFFF;text-decoration: none;}
.modals{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background: rgba(10,10,10,0.8);
	display: none;
}
.modals .dialog{
	width:85%;
	height: 120px;
	border-radius: 5px;
	background:rgba(0, 0, 0, 0.6);
	position: absolute;
	margin: auto;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #39435B;
}
.dialog h4{
	margin-top: 30px;
	color: #DDD;
}
.dialog button{
	margin: 0 10px;
	margin-top: 20px;
	border-radius: 3px;
	display: inline-block;
	padding: 4px 10px;
	background-color:#b4b4b4;
}
.cart-list{
	background: #fff;
	margin-bottom:10px ;
}
.cart-hd{border-bottom: 1px solid #ccc;
line-height: 40px;
padding:0 10px;
}
.cart-items{
	overflow: hidden;
	padding:5px 10px;
	position: relative;

}
.cart-items .one{width: 90%;}
.cart-items dt{
	width:30%;
	min-width: 20%;
	float: left;
	margin-right: 5px;
	line-height: 1.5;
}
.cart-items dd:last-child{
	color: #c30000;
	margin-top: 10px;
}
.del-item{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.del-item a{
	display: block;
	height: 100%;
}

#myModal2 .modal-header {background: #000000;
text-align: center;}
.icon-del{
	width: 30px;
	height: 30px;
	background-image: url(../img/images/cart/购物车-取消.png);
	background-size: 30px 30px;
}
.subtotal{
	border-top: 1px solid #E1E5EE;
	padding:10px 10px;
	
}
.subtotal em{
	color: #c30000;
	line-height: 25px;
}
.count{
	float: right;
}
.count input{
	border: 1px solid #E1E5EE;
	height: 28px;
	padding: 4px;
	width: 30px;
	text-align: center;
	font-weight: bold;
	border-radius: 0px;
	vertical-align: middle;
}
.minus,.add{
	display: inline-block;
	width: 30px;
	text-align: center;
	vertical-align: middle;
}
.minus{
	border: 1px solid #E1E5EE;
	border-right: none;
	height: 28px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
	line-height: 28px;
	font-size: 28px;
	color: #000000;
}

.add{
	border: 1px solid #E1E5EE;
	border-left: none;
	height: 28px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 18px;
	text-align: center;
	line-height: 28px;
	color: #000000;
	
	
}