*{padding: 0;margin: 0;}
body{background-color: #DDDDDD;}
header,.carousel,main{width: 100%;max-width: 750px;  margin: 0 auto;}
header{
	position: fixed;
	width: 100%;
	height: 50px;
	background: #39435B;
	line-height: 50px;
	max-width: 750px;
	color: #E1E5EE;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
}
header .icon-back{
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
}

.icon-look{
	float: right;
	padding-right: 10px;
	
}
.icon-look a{color: white;
text-decoration: none;
font-size: 14px;

}
.icon-back a{
	display: block;
	width: 13px;
	height: 25px;
	text-decoration: none;
	color: white;
	font-size: 24px;
}
header em{
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	width: 64px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.carousel{
	width: 100%;
    height:140px;
	position: relative;
	overflow:hidden;
	margin-top: 60px;
}
.banner-box{
	position: relative;
	width: 100%;
	height: 900px;
}

.banner-img{height: 300px;}
.banner-box img{
	max-width: 750px;min-width:320px;
	}
footer{
	width: 100%;
	max-width: 750px;
	height: 55px;
	background-color: #39435B;
	left: 0;
	right: 0;
	margin: auto;
	padding: 5px 0;	
	position: fixed;
	bottom: -1px;
	
}
footer ul{text-align: center;	}
footer li{
	width: 46px;
	display: inline-block;
	margin: 0 4.8%;
	font-size: 14px;
}
footer span{
	position: relative;
	top: -3px;
	
}
footer li a{
	display: block;
	color:#E1E5EE;
	padding-bottom: 30px;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
footer li a:focus,footer li a:hover{
	color: #5bb2ff;
}
footer li:first-child a{
	color: #5BB2FF;
}

.goods-list{
	background: #fff;
    margin-bottom:10px ;
}
.goods-items{
	overflow: hidden;
	padding:5px 0;
	position: relative;
	min-width: 150px;
}
.goods-items li{
	overflow: hidden;
	padding: 5px 0;
	border-bottom: 1px solid #E1E5EE;
}
.goods-items li a{
	display: block;
	height: 100%;
	overflow: hidden;
	padding: 0 10px;
}
.goods-items em{
	width: 25%;
	float: left;
	margin-right: 5px;
}
.goods-items span{
		width:calc(75% - 5px);
	float: right;
	line-height: 1.5;
}
.goods-items span:nth-child(2){
	font-size: 16px;
	color: #000000;
}
.goods-items span:nth-child(3){
		font-size: 16px;
		color:#C30000 ;
}
.goods-items span:last-child{
	color: #aaa;
	font-size: 12px;
}
.goods-items span i{
	font-style: normal;
	padding-left: 10px;
}
main{
	margin-bottom: 79px;
}
