*{padding: 0;margin: 0 ;}
body{background-color: #DDDDDD;}
header,.carousel,nav,main{width: 100%;max-width: 750px;  margin: 0 auto;}
header{height: 50px;background-color: #39435b;padding-top: 5px; position: fixed;width: 100%;
max-width: 750px;top: 0;left: 0;right: 0;line-height: 30px;z-index: 10;}
.container{
	max-width: 750px;
	min-width: 32px;
	margin: 0 auto;
	padding: 55px 0 70px 0;
}
.icon-logo{width: 120px;
	height: 35px;
	float: left;
	
	margin-left: 10px;}
header a{
	display: block;
	height: 100%;
}
.icon-logo,.icon-login{
	display:inline-block;
}

header span{
	display: none;
}
.search{
	margin-top: 3px;
	width:calc(100% - 177px );
	float: left;
	position: absolute;
	left: 130px;
}
.search input{
	padding: 7px 10px;
	padding-left: 30px;
	width: 100%;
	border-radius: 25px;
	background-color: #e1e5ee;
}
.search:before{
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: #fff;
	left: 5px;
	
	background:  url(../img/images/首页/icon2.png) no-repeat;
	background-size: 25px auto;
}
.icon-login{
	float: right;
	margin-right: 5px;
	width: 32px;
	height: 32px;
	

}

.carousel{
	width: 100%;
    height:140px;
	position: relative;
	overflow:hidden;
}
.banner-box{
	position: relative;
	width: 100%;
	height: 900px;
}
.banner-img{height: 300px;}
.banner-box img{
	max-width: 750px;min-width:320px;
	}
nav{
	background-color: #fff;
    text-align: center;
    padding: 5px 0;
}
ul li{list-style: none;
      padding-left: 0px;
      height: 70px;
}
nav li{width: 46px;
      display: inline-block;
      margin: 0px 4.8%}
nav li a{
	display: block;
    text-decoration: none;
}
.products{
	background-color: #fff;
    margin-top: 10px;
   }
main .hd{
	padding: 0 10px;
	padding-left: 0;
	border-bottom: 1px solid #DDDDDD;
	line-height: 35px;
}

main img{padding-top: 10px;}
main em{position: relative;
	padding-top: 0;
	padding-left: 25px;
	font-weight: bold;
	font-size: 14px;

}
main em .icon-shu{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	background: url(../img/images/首页/首页-数码.png) no-repeat;
	background-size: 20px 20px;
	margin-top: 10px;
}
main em .icon-book{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 5px;
	background: url(../img/images/首页/首页-书籍.png) no-repeat;
	background-size: 20px 20px;
     margin-top: 8px;
}
main span a{
	float: right;
	font-size: 12px;
	color: coral;
	text-decoration: none;
}
main p:last-child{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #B4B4B4;
	font-size: 14px;
}


.book-list ,.shuma-list{
	display: -webkit-flex;
}
.book-list .left-list{
	-webkit-flex: 1.4;
	padding: 10px 0;

}

.book-list .right-list{
	float: right;
	-webkit-flex: 1.4;
	padding: 20px 10px;
	padding-top: 40px;
	border-left:1px solid #E1E5EE;
}
.book-list .left-list>a>img{
	padding: 10px;
	width: 90%;
}
.book-list .left-list span a{
	width: 50%;
	float: left;
}
.book-list .left-list span a img{
	padding-left: 5px;
	width: 90%;
}
.book-list .right-list img{
	width: 90%;
}
/*.book img{width: 94%;}*/
.book a:first-child{
	display: -webkit-flex;
	
}
.book a:last-child{
	display: -webkit-flex;
}
.shuma-list .left-list{
	-webkit-flex: 1;
	padding: 10px 5px;
	border-right: 1px solid #E1E5EE;
	padding-top: 35px;
}
.shuma-list .left-list img{
	width: 90%;
}
.shuma-list .right-list{
	-webkit-flex: 1;
	text-align: center;
}
.shuma-list .right-list img{
	width: 50%;
	margin-top: 10px;
}
.shuma-list .right-list a:last-child {
	display: block;
	margin-top: 10px;
	border-top: 1px solid #E1E5EE;
}
footer{
	width: 100%;
	max-width: 750px;
	height: 55px;
	background-color: #39435B;
	left: 0;
	right: 0;
	margin: auto;
	padding: 5px 0;	
	position: fixed;bottom: 0px;
}
footer ul{
	text-align: center;	
	}
footer li{
	width: 46px;
	display: inline-block;
	margin: 0 4.8%;
	font-size: 14px;
}
footer span{
	position: relative;
	top: -3px;
	
}
footer li a{
	display: block;
	color:#E1E5EE;
	padding-bottom: 30px;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
footer li a:focus,footer li a:hover{
	color: #5bb2ff;
}
footer li:first-child a{
	color: #5BB2FF;
}